@using StreamSharpPanel.Models.ChatterInfo
@using StreamSharpPanel.Models.Http
@using System.Net.WebSockets

@implements IDisposable

@inject IJSRuntime Js
@inject ISnackbar Popup
@inject ILogger<TwitchChannelChat> Log
@inject EventSubService Events
@inject ApiCallerService Api
@inject AssetService Asset


<MudPaper Class="pa-2" Style="overflow:hidden auto;" Height="@Height" Elevation="1">
    <MudTabs @bind-ActivePanelIndex="@_tabIndex" Elevation="0" MinimumTabWidth="20px" Style="align-items:end" TabHeaderClass="tab-headers">
        <MudTabPanel Text="" Icon="@Icons.Material.Outlined.Chat" ToolTip="Chat" />
        <MudTabPanel Text="" Icon="@Icons.Material.Outlined.PeopleAlt" ToolTip="Community" />
    </MudTabs>

    @if (_tabIndex == 0)
    {
        <MudStack Spacing="2" Style="height:calc(100% - 48px)" StretchItems="StretchItems.Start">
            <div id="@_chatId" style="height:100%; overflow-y:auto;">
                <MudChat ArrowPosition="ChatArrowPosition.None" Dense Style="column-gap:unset">
                    @foreach (var msg in _messages)
                    {
                        <MudChatBubble @key="@msg.MessageId" OnContextClick="@(e => RightClickMessage(e, msg))" Style="width:100%; user-select:unset;">
                            @if (msg.IsDeleted)
                            {
                                <span style="cursor:text">
                                    @(msg.ChatterUserName)'s message was deleted by a moderator:
                                    @if (msg.ShowDeleted)
                                    {
                                        @msg.Message.Text
                                    }
                                    else
                                    {
                                        <MudLink OnClick="@(() => msg.ShowDeleted = true)">&lt;Click to view&gt</MudLink>
                                    }
                                </span>
                            }
                            else
                            {
                                if (GetChatterBadgesUrls(msg) is { Length: > 0 } urls)
                                {
                                    <span>
                                        @foreach (var url in urls)
                                        {
                                            if (!string.IsNullOrEmpty(url))
                                            {
                                                <MudImage Src="@url" Style="vertical-align:middle" Class="mr-1" />
                                            }
                                        }
                                    </span>
                                }

                                <span style="color:@GetChatterColor(msg); font-weight:bold;">
                                    @msg.ChatterUserName
                                </span>

                                <span>: </span>

                                foreach (var fragment in msg.Message.Fragments)
                                {
                                    switch (fragment.FragmentType)
                                    {
                                        case MessageFragmentType.Emote when fragment.Emote is { EmoteSetId: var setId, Id: var id }:
                                            if (setId == "0")
                                            {
                                                <MudImage Src="@Asset.GlobalEmoticons.Urls[id]" Alt="@fragment.Text" Style="vertical-align:middle" />
                                            }
                                            else
                                            {
                                                <MudImage Src="@Asset.ChannelEmoticons[setId].Urls[id]" Alt="@fragment.Text" Style="vertical-align:middle" />
                                            }
                                            break;

                                        case MessageFragmentType.Cheermote when fragment.Cheermote is { } cheer:
                                            var image = Asset.GlobalCheermotes.Data
                                                .FirstOrDefault(x => x.Prefix == cheer.Prefix)
                                                ?.Tiers.FirstOrDefault(x => x.Id == cheer.Tier.ToString())
                                                ?.Images.Light;

                                            var src = image?.Animated.TryGetValue("1", out var anim) is true ? anim : "";
                                            var srcFall = image?.Animated.TryGetValue("1", out var @static) is true ? @static : "";

                                            <MudImage Src="@src" FallbackSrc="@srcFall" Alt="@fragment.Text" Style="vertical-align:middle" />
                                            break;

                                        case MessageFragmentType.Mention when fragment.Mention is { UserName: var user and not "", UserId: var id }:
                                            @if (id == BroadcasterId)
                                            {
                                                <span style="cursor:default">
                                                    <mark class="px-1">@user</mark>
                                                </span>
                                            }
                                            else
                                            {
                                                <span style="font-weight:bold; cursor:default;">@@@user</span>
                                            }
                                            break;

                                        default:
                                            <span style="cursor:text">@fragment.Text</span>
                                            break;
                                    }
                                }
                            }
                        </MudChatBubble>
                    }
                </MudChat>

                <MudOverlay @bind-Visible="@_emotePanelOpen" AutoClose />
                <MudPopover @bind-Open="@_emotePanelOpen"
                            OverflowBehavior="OverflowBehavior.FlipAlways"
                            RelativeWidth="DropdownWidth.Ignore"
                            AnchorOrigin="Origin.BottomCenter"
                            TransformOrigin="Origin.BottomCenter"
                            Style="width:280px">

                    <div class="d-flex p-1" style="position:relative; z-index:10; justify-content:end; border-bottom:2px solid #ebebeb; background-color:#27273A">
                        <MudIconButton OnClick="@(() => _emotePanelOpen = false)"
                                        Icon="@Icons.Material.Filled.Close"
                                        Size="Size.Small" Color="Color.Error"
                                        DropShadow="false" Ripple="false" />
                    </div>

                    <MudGrid Spacing="1" Class="mt-1 pl-3 py-1 pr-1" Style="height:200px; overflow-y:scroll; overflow-x:hidden">
                        @if (Asset.UserEmotes is { } emotes)
                        {
                            foreach (var group in OrderedEmoteGroups()!)
                            {
                                var user = group.Key;
                                <MudItem xs="12" Class="d-flex align-content-center mb-2" Style="gap:8px">
                                    <MudText Typo="Typo.h6" Class="fw-bold">@user.DisplayName</MudText>
                                    @if (!string.IsNullOrEmpty(user.ProfileImageUrl))
                                    {
                                        <MudAvatar Elevation="3" Size="Size.Small" Style="width:34px; height:34px;">
                                            <MudImage Src="@user.ProfileImageUrl" Alt="@user.DisplayName" />
                                        </MudAvatar>
                                    }
                                </MudItem>

                                foreach (var em in group)
                                {
                                    <MudItem xs="3" @key="@em">
                                        <MudButton OnClick="@(() => AddEmoteToMessage(em.Name))" DropShadow="false" Class="pa-0">
                                            <MudImage Src="@em.AnimatedUrl" FallbackSrc="@em.StaticUrl" Alt="@em.Name" Style="vertical-align:middle;" />
                                        </MudButton>
                                    </MudItem>
                                }

                                <MudDivider Light Class="mt-4 mb-2" />
                            }
                        }
                    </MudGrid>
                </MudPopover>
            </div>

            <MudStack Row Spacing="1" AlignItems="AlignItems.Center" StretchItems="StretchItems.End">
                <MudTooltip ShowOnHover Text="@(_autoScrollEnabled ? "Pause Autoscroll" : "Resume Autoscroll")">
                    <MudIconButton OnClick="@(() => _autoScrollEnabled = !_autoScrollEnabled)"
                                    Icon="@(_autoScrollEnabled? Icons.Material.Outlined.Pause : Icons.Material.Outlined.PlayArrow)"
                                    Variant="Variant.Outlined" DropShadow="false" Class="mb-1"
                                    Style="height:40px; width:40px; border-color:var(--mud-palette-lines-inputs)" />
                </MudTooltip>

                <MudTextField @ref="@_chatField"
                                T="string" @bind-Value="@_myChatMessage"
                                Placeholder="Send a message"
                                MaxLines="5" MaxLength="500"
                                AutoGrow Immediate Class="mt-2 mb-3"
                                Margin="Margin.Dense" Variant="Variant.Outlined"
                                ReadOnly="@_isChatReadonly" OnKeyDown="@ChatKeyDown"
                                Adornment="Adornment.End" AdornmentIcon="@Icons.Material.Filled.InsertEmoticon"
                                OnAdornmentClick="@(() => _emotePanelOpen = !_emotePanelOpen)" />
            </MudStack>

            <MudButton OnClick="@SendMessage"
                        Variant="Variant.Filled"
                        Color="Color.Primary"
                        DropShadow="false"
                        Disabled="@_sendBtnDisabled"
                        Style="border-radius:9000px; height:2.5rem; font-weight:600">
                Chat
            </MudButton>
        </MudStack>   
    }

    else
    {
        if (_chatters is null or { Count: 0 })
        {
            <MudText Align="Align.Center" Class="mt-5 p-3">Here you'll find who's connected to your channel's chat</MudText>
        }
        else
        {
            <div class="h-100 p-2" style="overflow-y:auto">
                @foreach (var group in _chatters.OrderBy(x => x.Key))
                {
                    var text = group.Key switch
                    {
                        ChatterType.Broadcaster => "Broadcaster",
                        ChatterType.Moderator => "Moderators",
                        ChatterType.Vip => "VIPs",
                        ChatterType.Bot => "Chat bots",
                        _ => "Spectators"
                    };

                    <MudStack Row AlignItems="AlignItems.Center" Class="my-1 pl-2" Spacing="2" Style="width:12rem; border-bottom:1px solid grey;">
                        @if (group.Key == ChatterType.Chatter)
                        {
                            <MudIcon Icon="@Icons.Material.Outlined.Person" />
                        }
                        else
                        {
                            <MudImage Src="@Asset.GetChatterBadge(group.Key)?.Url1x" Alt="@group.Key.ToString()" Style="vertical-align:middle" />
                        }
                        <MudText Typo="Typo.h6">@text</MudText>
                    </MudStack>

                    <MudList T="TwitchChatter" Dense>
                        @foreach (var chatter in group)
                        {
                            <MudListItem Dense="true" Text="@chatter.UserName" />                    
                        }
                    </MudList>
                }
            </div>
        }
    }
</MudPaper>


<MudMenu @ref="@_contextMenu" Open="@_contextMenuOpen" OpenChanged="@(open => { _autoScrollEnabled = !open; _contextMenuOpen = open; })" Dense PositionAtCursor>
    <MudMenuItem Icon="@Icons.Material.Filled.Info" IconColor="Color.Info" AutoClose OnClick="@(() => Popup.Add("Functionality coming soon!"))">
        View Details for <span style="color:@GetChatterColor(_selectedMessage)">@_selectedMessage?.ChatterUserName</span>
    </MudMenuItem>

    @if (_selectedMessage?.ChatterUserId is { } userId && userId != BroadcasterId)
    {
        <MudMenuItem OnClick="@DeleteMessage" Icon="@Icons.Material.Filled.Delete" IconColor="Color.Surface" AutoClose>
            Delete Message
        </MudMenuItem>

        <MudMenu>
            <ActivatorContent>
                <span class="d-flex" style="margin-left:-36px; align-items:center;">
                    <MudIcon Icon="@Icons.Material.Filled.Timer" Color="Color.Warning" />
                    <span class="ml-3" style="width:100%;">
                        Timeout <span style="color:@GetChatterColor(_selectedMessage)">@_selectedMessage?.ChatterUserName</span>
                    </span>
                    <MudIcon Icon="@Icons.Material.Filled.ArrowRight" />
                </span>
            </ActivatorContent>

            <ChildContent>
                <MudMenuItem Label="5 minutes" OnClick="@(() => BanUser(userId, TimeSpan.FromMinutes(5)))" AutoClose />
                <MudMenuItem Label="10 minutes" OnClick="@(() => BanUser(userId, TimeSpan.FromMinutes(10)))" AutoClose />
                <MudMenuItem Label="30 minutes" OnClick="@(() => BanUser(userId, TimeSpan.FromMinutes(30)))" AutoClose />
                <MudMenuItem Label="1 hour" OnClick="@(() => BanUser(userId, TimeSpan.FromHours(1)))" AutoClose />
                <MudMenuItem Label="2 hours" OnClick="@(() => BanUser(userId, TimeSpan.FromHours(2)))" AutoClose />
                <MudMenuItem Label="1 day" OnClick="@(() => BanUser(userId, TimeSpan.FromDays(1)))" AutoClose />
                <MudMenuItem Label="2 days" OnClick="@(() => BanUser(userId, TimeSpan.FromDays(2)))" AutoClose />
            </ChildContent>
        </MudMenu>

        <MudMenuItem Icon="@Icons.Material.Filled.Block" IconColor="Color.Error" AutoClose OnClick="@(() => BanUser(userId))">
            Ban <span style="color:@GetChatterColor(_selectedMessage)">@_selectedMessage?.ChatterUserName</span>
        </MudMenuItem>
    }
</MudMenu>


@code {
    [Parameter, EditorRequired] public string BroadcasterId { get; set; } = null!;
    [Parameter, EditorRequired] public string BroadcasterLogin { get; set; } = null!;
    [Parameter, EditorRequired] public string BroadcasterUsername { get; set; } = null!;
    [Parameter] public string Height { get; set; } = "";

    private static readonly string[] DefaultChatterColors =
    [
        "Blue", "BlueViolet", "CadetBlue", "Chocolate", "Coral",
        "DodgerBlue", "Firebrick", "GoldenRod", "Green", "HotPink",
        "OrangeRed", "Red", "SeaGreen", "SpringGreen", "YellowGreen"
    ];

    private static Dictionary<string, string> ChatterColors = [];
    private static Dictionary<string, Dictionary<string, string?>> Badges = [];

    Guid _chatId = Guid.NewGuid();
    private MudMenu _contextMenu = null!;
    private MudTextField<string> _chatField = null!;

    private CompositeDisposable _eventHandlers = [];
    private CancellationTokenSource? _connectionCancSource = null;
    private Task? _updateChattersTask;

    private int _tabIndex;
    private string? _myChatMessage;

    private ChannelChatMessage? _selectedMessage;
    private List<ChannelChatMessage> _messages = [];
    private ILookup<ChatterType, TwitchChatter>? _chatters = null;

    private bool _isChatReadonly;
    private bool _sendBtnDisabled;
    private bool _autoScrollEnabled = true;
    private bool _contextMenuOpen;
    private bool _emotePanelOpen;


    protected override void OnInitialized()
    {
        _eventHandlers.Add(Events.OnEventReceived<ChannelChatMessage>(AddMessage, msg => msg.BroadcasterUserId == BroadcasterId));
        _eventHandlers.Add(Events.OnConnectionStatusChanged(ConnectionStatusChanged));
        _eventHandlers.Add(Asset.OnAssetsUpdated<BadgesUpdated>(UpdateBadges));

        UpdateBadges();
    }

    private async void AddMessage(ChannelChatMessage message)
    {
        foreach (var fragment in message.Message.Fragments)
        {
            if (fragment is { FragmentType: MessageFragmentType.Emote, Emote: { EmoteSetId: var setId, Id: var id } })
            {
                if (setId != "0" && !Asset.ChannelEmoticons.ContainsKey(setId))
                {
                    // todo: handle failure case
                    await Asset.UpdateChannelEmotesUrls(setId);
                }
            }
        }

        _messages.Add(message);
        await InvokeAsync(StateHasChanged);

        if (_autoScrollEnabled)
        {
            await Js.InvokeVoidAsyncIgnoreErrors("scrollToBottom", _chatId);
        }
    }

    private async Task RightClickMessage(MouseEventArgs e, ChannelChatMessage message)
    {
        if (!message.IsDeleted)
        {
            _selectedMessage = message;
            await _contextMenu.OpenMenuAsync(e);
        }
    }

    private async Task SendMessage()
    {
        if (!Events.IsConnected)
        {
            Popup.Add("No active session found, please connect and retry.", Severity.Warning);
            return;
        }

        if (string.IsNullOrWhiteSpace(_myChatMessage))
            return;

        if (string.IsNullOrEmpty(Events.UserId))
        {
            Popup.Add("An error occurred while trying to send the message, please retry.", Severity.Error);
            return;
        }

        _isChatReadonly = true;
        _sendBtnDisabled = true;

        try
        {
            await Api.SendChatMessage(BroadcasterId, Events.UserId, _myChatMessage, CancellationToken.None);
            _myChatMessage = string.Empty;
        }
        catch
        {
            Popup.Add("An error occurred while sending the message, please retry");
        }
        finally
        {
            _isChatReadonly = false;
            _sendBtnDisabled = false;

            await InvokeAsync(StateHasChanged);
        }
    }

    private async Task ChatKeyDown(KeyboardEventArgs e)
    {
        if (e.Key == "Enter")
        {
            await _chatField.BlurAsync();

            if (string.IsNullOrWhiteSpace(_myChatMessage))
            {
                _myChatMessage = "";
                return;
            }

            await SendMessage();
        }
    }

    // todo: should we add a lock here?
    private string GetChatterColor(ChannelChatMessage? msg)
    {
        if (msg is null)
            return "";

        if (string.IsNullOrEmpty(msg.Color))
        {
            if (ChatterColors.TryGetValue(msg.ChatterUserId, out var color))
                return color;

            var index = Random.Shared.Next(0, DefaultChatterColors.Length);
            color = DefaultChatterColors[index];

            ChatterColors[msg.ChatterUserId] = color;
            return color;
        }

        return msg.Color;
    }

    // todo: is it overkill to add a lock here?
    private void UpdateBadges(BadgesUpdated? e = null)
    {
        Badges.Clear();
        foreach (var set in Asset.GlobalBadges.Data)
        {
            Dictionary<string, string?> versions = [];
            foreach (var badge in set.Versions)
            {
                versions[badge.Id] = badge.Url1x;
            }

            Badges[set.SetId] = versions;
        }
    }

    private async Task DeleteMessage()
    {
        try
        {
            await Api.DeleteChatMessage(BroadcasterId, BroadcasterId, _selectedMessage!.MessageId.ToString());
            _selectedMessage.IsDeleted = true;
        }
        catch (Exception ex)
        {
            Popup.Add($"An error occurred while deleting the message: {ex.Message}", Severity.Error);
        }
    }

    private async Task BanUser(string userId, TimeSpan? timeout = null)
    {
        var banResult = await Api.BanUser(BroadcasterId, BroadcasterId, userId, timeout);
        if (banResult.Success)
        {
            _messages.ForEach(msg =>
            {
                if (msg.ChatterUserId == userId)
                {
                    msg.IsDeleted = true;
                }
            });

            await InvokeAsync(StateHasChanged);
        }
        else
        {
            Popup.Add($"An error occurred: {banResult.Message}", Severity.Error);
        }
    }

    private string?[] GetChatterBadgesUrls(ChannelChatMessage? msg)
    {
        var urls = msg?.Badges.Select(GetBadgeUrl);
        return urls?.ToArray() ?? [];

        // todo: log when not found
        static string? GetBadgeUrl(Badge badge)
        {
            var badgeSet = Badges.TryGetValue(badge.SetId, out var set) ? set : [];
            var badgeUrl = badgeSet.TryGetValue(badge.Id, out var url) ? url : null;

            return badgeUrl;
        }
    }

    private void AddEmoteToMessage(string emoteName)
    {
        if (!string.IsNullOrEmpty(_myChatMessage))
        {
            _myChatMessage += " ";
        }
        _myChatMessage += $"{emoteName} ";
    }

    private async Task<ILookup<ChatterType, TwitchChatter>?> GetChatters()
    {
        try
        {
            var mods = (await Api.GetModerators(BroadcasterId))?.Data ?? [];
            var modsIds = mods.Select(x => x.UserId);

            var vips = (await Api.GetVips(BroadcasterId))?.Data ?? [];
            var vipsIds = vips.Select(x => x.UserId);

            var chatters = (await Api.GetChatters(BroadcasterId, BroadcasterId))?.Data ?? [];
            var broadcaster = chatters.FirstOrDefault(x => x.UserId == BroadcasterId) 
                ?? new TwitchChatter { UserId = BroadcasterId, UserLogin = BroadcasterUsername, UserName = BroadcasterUsername };

            var filteredChatters = chatters.ExceptBy(modsIds.Concat(vipsIds).Append(BroadcasterId), x => x.UserId) ?? [];
            var onlineMods = mods.Join(chatters, x => x.UserId, y => y.UserId, (x, y) => y);
            var onlineVips = mods.Join(vips, x => x.UserId, y => y.UserId, (x, y) => y);

            return filteredChatters.Select(x => (Type: ChatterType.Chatter, User: x))
                .Concat(onlineMods.Select(x => (Type: ChatterType.Moderator, User: x)))
                .Concat(onlineVips.Select(x => (Type: ChatterType.Vip, User: x)))
                .Append((Type: ChatterType.Broadcaster, User: broadcaster))
                .ToLookup(x => x.Type, x => x.User);
        }
        catch(Exception ex)
        {
            Popup.Add($"An error occurred while fetching chatters: {ex.Message}", Severity.Error);
            Log.LogError(ex, "An error occurred while fetching chatters: ");

            return null;
        }
    }

    private async Task UpdateChattersTask(CancellationToken cancellation)
    {
        _chatters = await GetChatters();
        await InvokeAsync(StateHasChanged);

        using var timer = new PeriodicTimer(TimeSpan.FromMinutes(1));
        while (await timer.WaitForNextTickAsync(cancellation))
        {
            try
            {
                _chatters = await GetChatters();
                await InvokeAsync(StateHasChanged);
            }
            catch(OperationCanceledException)
            {
                // expected when the connection is closed
            }
        }
    }

    private void ConnectionStatusChanged(WebSocketState wsState)
    {
        if (wsState == WebSocketState.Open)
        {
            _connectionCancSource = new CancellationTokenSource();
            _updateChattersTask = UpdateChattersTask(_connectionCancSource.Token);
        }
        else
        {
            _connectionCancSource?.Cancel();
            _connectionCancSource?.Dispose();
            _connectionCancSource = null;

            _chatters = null;
            StateHasChanged();
        }
    }

    // todo: convert to lookup
    private IEnumerable<IGrouping<TwitchUser, UserEmoteInfo>>? OrderedEmoteGroups() => Asset.UserEmotes
        ?.OrderBy(x => x.Key.DisplayName == "Global" ? 1 : 0)
        .ThenBy(x => x.Key.DisplayName == BroadcasterUsername ? 0 : 1)
        .ThenBy(x => x.Key.DisplayName);


    public void Dispose()
    {
        _eventHandlers.Dispose();
    }
}


<style>
    .tab-headers {
        transform: scale(0.75);
        margin-top: -8px;
        margin-right: -12px;
    }
</style>
